:root {
  font-family: Arial, sans-serif;
}
html {
  background-color: #e2e2e2;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  font-family: var(font-family);
  background: linear-gradient(to bottom, #44174e, #662249);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

/* 
@media (width >= 780px) {
  :root {
  }
} */
